@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Montserrat:ital,wght@1,300&family=Oswald:wght@300;400;500&family=Raleway&family=Roboto:wght@100&family=Shrikhand&display=swap");
html {
  background-color: #499f7a;
}

nav {
  background: linear-gradient(120deg, #5c00f0 0%, #6c47a9 100%);
  height: 10vw;
  background: linear-gradient(120deg, #5c00f0 0%, #6c47a9 100%);
  height: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav button {
  height: 5vw;
}

IMG {
  max-height: 90%;
}

.containLez div {
  WIDTH: 90%;
}

.containLez .leZ {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leZ {
  height: 100vh;
  font-size: smaller;
}

.leZ section {
  background: -webkit-gradient(linear, left top, left bottom, from(#3bb592), color-stop(79%, #6c47a9));
  background: linear-gradient(to bottom, #3bb592 0%, #6c47a9 79%);
}

.leZ p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 8px;
  font-size: x-large;
}

.leZ div {
  width: "-webkit-fill-available";
}

.banana {
  font-family: 'Raleway', sans-serif;
}

.banana .aboutSection {
  background: -webkit-gradient(linear, left top, left bottom, from(#3bb592), color-stop(79%, #6c47a9));
  background: linear-gradient(to bottom, #3bb592 0%, #6c47a9 79%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banana .aboutSection article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.banana .aboutSection SPAN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-pack: CENTER;
      -ms-flex-pack: CENTER;
          justify-content: CENTER;
  -webkit-box-align: CENTER;
      -ms-flex-align: CENTER;
          align-items: CENTER;
}

.banana .aboutSection SPAN button {
  background-color: #493b7a;
  color: white;
  margin: 2%;
}

.banana .aboutSection SPAN label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

.banana .aboutSection SPAN label input {
  width: 70vw;
  color: #493b7a;
  margin-top: 2%;
  opacity: 0;
}

.banana .aboutSection SPAN .boutonQuizz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banana .aboutSection SPAN .boutonQuizz button {
  background-color: #1f1614;
  color: #99b9c2;
  -webkit-box-shadow: 0px 0px 0 #499f7a;
          box-shadow: 0px 0px 0 #499f7a;
  width: inherit;
  height: 100%;
}

.banana .aboutSection SPAN .boutonQuizz :hover {
  -webkit-transform: translate(4px, -4px);
          transform: translate(4px, -4px);
  -webkit-transition: ease-out;
  transition: ease-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: -4px 4px 0 aliceblue;
          box-shadow: -4px 4px 0 aliceblue;
}

.leZ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.leZ h1 {
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

Article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  WIDTH: 20%;
}

Article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  width: 50%;
  border: solid;
  margin: 2px;
}

.PriceDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  height: 40vh;
  width: 100vw;
  color: aliceblue;
}

.PriceDiv .containerMarquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: aliceblue;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.PriceDiv .containerMarquee .marquee {
  width: 100%;
  white-space: nowrap;
  padding: 2%;
  -webkit-animation: marquee 5s infinite linear;
          animation: marquee 5s infinite linear;
}

button {
  color: #493b7a;
  background-color: LIGHTSEAGREEN;
  border: none;
  border-radius: -22%;
  width: 22VW;
}

button:hover {
  background-color: #61dafb;
}

footer {
  position: relative;
  width: 100%;
  background: linear-gradient(10deg, #499f7a 0%, #493b7a 100%);
  color: aliceblue;
  height: 20vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: FLEX;
  -webkit-box-pack: SPACE-AROUND;
      -ms-flex-pack: SPACE-AROUND;
          justify-content: SPACE-AROUND;
}

footer svg {
  height: 4vh;
  overflow: hidden;
}

h1 {
  background-color: linear-gradient(120deg, #5c00f0 0%, #6c47a9 100%);
}

.leZ {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#5c00f0), color-stop(50%, #6c47a9)), #499f7a 100%;
  background: linear-gradient(to bottom, #5c00f0 0%, #6c47a9 50%), #499f7a 100%;
}

.elZ {
  height: 20vh;
  -webkit-box-shadow: 3px -2px 3px 2px #464545;
          box-shadow: 3px -2px 3px 2px #464545;
  background: #242424;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 830px) and (min-width: 651px) {
  .boutonQuizz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 650px) {
  .banana .aboutSection SPAN .boutonQuizz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@media screen and (max-width: 400px) {
  .leZ .containImg {
    height: 100%;
  }
  .leZ .containImg div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .leZ p {
    font-size: medium;
  }
}

@media screen and (min-width: 401px) {
  .leZ .containImg {
    height: 100%;
    margin: 2%;
  }
  .leZ .containImg div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .leZ p {
    font-size: medium;
  }
}
/*# sourceMappingURL=app.css.map */